.genre {
    max-width: 150px;
    margin-left: 10px;

  }

.container {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.genres {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
  