<div class="mat-sidenav">
    <header class="sidenav-brand pointer" matTooltip="About">

        <img  src="/assets/brand.svg" height="30" width="auto">
    </header>

    <content class="sidenav-content">
        <span>
            
          <mat-accordion #accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <button mat-button class="menu-button" matTooltip="Subscribers" (click)="accordion.openAll()">
                        <span>Books</span>
                    </button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Titles</p>
              <p>Authors</p>
              <p>Categories</p>
              <p>Types</p>
            </mat-expansion-panel>
          </mat-accordion>
        </span>
        <span>
            <button mat-button class="menu-button" matTooltip="Books">
              <span>Subscribers</span>
          </button>
        </span>
        <span>
            <button mat-button class="menu-button" matTooltip="Subscriptions">
              <span>Subscriptions</span>
          </button>
        </span>
    </content>


</div>


